<a href="https://colab.research.google.com/github/16sl75/business-analytics-project_2021_08_18/blob/main/technical_report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BI/Data Science Resources for Low Code/No Code

#### Apple

* [Create ML](https://developer.apple.com/documentation/createml)


https://docs-assets.developer.apple.com/published/4bd09c3420/b789d462-92c2-4d26-9479-d5288eef2438.png

#### GCP (Google)


AutoML Vision:  https://cloud.google.com/vision/automl/docs/tflite-android-tutorial?hl=en_US

## Ingest

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/noahgift/business-report/master/feature_importance.csv")
df.head(20)

       Column name  Feature importance
0     capital_gain            0.159763
1              age            0.137266
2   marital_status            0.130454
3    education_num            0.088238
4       occupation            0.088033
5     relationship            0.079276
6   hours_per_week            0.074203
7     capital_loss            0.066141
8        education            0.053541
9              sex            0.048095
10          fnlwgt            0.035662
11       workclass            0.024903
12  native_country            0.007621
13            race            0.006804

## EDA


These are some important features, you can see this raw data in the ingest section

![Screen Shot 2020-09-12 at 7 42 58 AM](https://user-images.githubusercontent.com/58792/92994814-9f842f00-f4cb-11ea-83aa-e7ab0a146e7a.png)

This is a medical record

![Screen Shot 2020-09-12 at 7 47 50 AM](https://user-images.githubusercontent.com/58792/92994875-51236000-f4cc-11ea-994f-285c48cd708f.png)

Nike research

![Screen Shot 2020-09-12 at 7 47 50 AM](https://user-images.githubusercontent.com/58792/92994944-e0307800-f4cc-11ea-912d-8794e214fe17.png)

CV research for Nike

![Screen Shot 2020-09-12 at 7 55 08 AM](https://user-images.githubusercontent.com/58792/92994991-4e753a80-f4cd-11ea-9697-ab74922c614b.png)

![Screen Shot 2020-09-12 at 7 56 40 AM](https://user-images.githubusercontent.com/58792/92995027-95fbc680-f4cd-11ea-8623-515a232cc0cc.png)

## Modeling

![Screen Shot 2020-09-12 at 8 14 11 AM](https://user-images.githubusercontent.com/58792/92995259-fc81e400-f4cf-11ea-9ab3-a1e076297c4b.png)

## Conclusion

Our ML models show that:

* Length of time as customer is a critical feature in deposits